

.card__objetivo{
    min-width:318px;
    min-height:318px;    
}


*{
    margin: 0;
    padding: 0;
  }
  
  .menu{
    font-size: 0px;
    list-style: none;
  }
  
  .menu-item{
    border: 1px solid #333;
    display: inline-block;  
    margin-right: 5px;
    position: relative;
  }
  
  .menu-item > a{
    color: #333;
    display: block;
    font-size: 17px;
    padding: 5px 10px;
    text-decoration: none;
  }
  
  .menu-item:target::after{
    border-color: #333 transparent transparent transparent;
    border-style: solid;
    border-width: 10px 10px 0px 10px;
    content: "";
    display: block;
    left: calc(50% - 10px);
    position: absolute;
    width: 0px;
  }
  
  .menu-item:target a{
    background-color: #333;
    color: #fff;  
  }