.box__gerenciador__form{
    min-width: 456px;
    height: 100%;
    min-height: 600px;
    padding:10px;
    font-size: 18px;    
}
.box__gerenciador__form input,.box__gerenciador__form textarea,.box__gerenciador__form select{
    border: 0px;
    width: 80%;
}
.box__gerenciador__form textarea{
    height: 186px;
}

.card__turma{
    width:400px;
    min-height:318px;    
}

.read_scroll{    
    width:500px;
    overflow-x: scroll;
}

.text__box__descript{
    height:150px;
    max-width: 350px;
    overflow-y: scroll;
    overflow-x: scroll;
}