body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#7d53de!important;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.font-lg{
  font-size: 81px;
}
.font-md{
  font-size: 36px;
}
.font-md-sm{
  font-size: 24px;
}
.font-sm{
  font-size: 16px;
}

.button{
  height:45px;
  width:168px;
  cursor: pointer;
  
}
.roxo{
  background-color: #7d53de;
}
.roxo-gradient{
  background:linear-gradient(180deg,#a884fa,#7d53de)
}
.text-roxo{
  color: #7d53de;
}
.azul{
  background-color: #78E3FD;
}
.text-azul{
  color:#78E3FD;
}
.margin_home {
  margin-top: 100px !important;
  margin-left: 100px !important;
}
.margin_home_2 {
  margin-top: 10px !important;
  margin-bottom: 30px !important;
}

::-webkit-scrollbar-track {
    border-radius: 25px;
}
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-thumb {
    background: rgba(245, 245, 245, 0.795);
    border-radius: 25px;
}